SPRING_PROFILES_ACTIVE=dev
DB_URL=jdbc:oracle:thin:@oracle.fiap.com.br:1521:orcl
DB_USERNAME=seu_user
DB_PASSWORD=sua_senha
DB_DRIVER_CLASS_NAME=oracle.jdbc.OracleDriver
FLYWAY_ENABLED=true
FLYWAY_BASELINE_ON_MIGRATE=true

# Docker Postgres / pgAdmin
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
PGADMIN_PORT=

# JWT
JWT_SECRET=
JWT_EXPIRATION_MINUTES=60
